@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

* {
  color: white;
}

*:not(i):not(.fa) {
  font-family: 'Fira Code', monospace;
}

.dark-background {
  background-color: black;
}

.max {
  width: 100%;
  height: 100%;
}

.lime-text {
  color: lime;
}

.magenta-text {
  color: magenta;
}

.cyan-text {
  color: cyan;
}

.gray-text {
  color: gray;
}